footer {
    padding: 30px 0;
    background-color: #86A3B8;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.footer {
    padding: 0 50px;
}

footer .link-color {
    color: #000;
}

footer .link-color:hover {
    text-decoration: none;
    color: #000;
}

footer .short-line {
    width: 700px;
}

footer .box-logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .logo-footer {
    text-align: center;
    font-family: Candara;
}

footer .description-logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    opacity: 80%;
    font-weight: 500;
    font-style: italic;
}

footer .title {
    text-align: center;
    font-weight: 500;
}

footer .cskh-phone {
    color: #000;
    font-weight: 900;
    font-size: 36px;
    font-family: SFProText;
}

footer .cskh-phone:hover {
    text-decoration: none;
    color: #000;
}

footer .icon-contact a {
    margin: 0 5px;
    color: #000;
}

footer .copyright {
    text-align: center;
    font-weight: 400;
}